.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.navbar-bg-primary {
  background-color: rgb(33, 160, 33);
  color: ghostwhite;
  text-align: center;
}
.Login {
  text-align: center;
}
hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1.2px black;
}
/*************************************/
.nav-button {
  width: 100px;
  height: 55px;
  padding: 15px;
  position: relative;
  top: 30px;
  left: 1000px;
  border-radius: 10px;
}
b {
  text-align: center;
}
.nav-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(70, 224, 31, 0.836);
  color: rgb(11, 58, 18);
  font-size: larger;
  font-weight: 600;
  font-family: cursive;
}
.nav-sub1{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
}

.nav-top {
  background-color: rgb(169, 241, 169);
  display: flex;

}
#header-logo {
  background-image: url("./images/logo-farm-2.png") no-repeat;
  height: 120px;
  width: 150px;
}
#header-farm {
  font-size: 3.1em;
  font-weight: bold;
  font-family: "Balsamiq Sans", cursive;
  color: rgb(32, 59, 36);
  padding-top: 10px;
  text-decoration: none;
}

/****************** Header End *******************/

/************* Content Start **************/

.common-title {
  background-color: rgba(239, 247, 172, 0.897);
  padding: 5px;
}
.common-title h1 {
  font-family: cursive;
  /* font-size: 2em;; */
  font-weight: bold;
  color: rgb(32, 59, 36);
}

/************ Content End ***************/
/* .thead-dark {
  background-color: black;
  color: white;
} */
/******************** MSP Start *********/
/* .main-MSP { */
  /* height: 1550vh; */
  /* height: ; */
/* background-color: #75e68e; */
/* } */

.MSP-table-main {
  text-align: center;
  margin-top: 1000px;
}
.table-content {
  margin-top: 50px;
  margin-bottom: 50px;
  ;
}


.tr1 {
  font-size: 1.2em;
  border-color: transparent;
}


#cropimage1,
#cropimage2,
#cropimage3,
#cropimage4,
#cropimage5,
#cropimage6,
#cropimage7,
#cropimage8,
#cropimage9,
#cropimage10,
#cropimage11,
#cropimage12,
#cropimage13,
#cropimage14,
#cropimage15,
#cropimage16,
#cropimage17,
#cropimage18 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 0;
  border-radius: 80px;
  border: black;

}

#tr {
  font-size: 1.5em;
  font-weight: 450;
  height: 100px;

  border-color: transparent;
}
/******************** MSP end *********/
/********** Home page *************/
.carousel {
  /* width: 900px;
  height: 500px; */

  width: 900px;
  height: 600px;
  margin: auto;
  z-index: 2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

}
.carousel-caption{
  color:black;
  position: absolute;
  top:20px;
}
.home-main {
  height: 90vh;
  /* background-color: #75e68e; */
  background-color: rgb(210, 255, 206);

}
.home-content {
  position: relative;
  top: 25px;
  right: 25px;
}

/************ Home page end ***********/

/****************** Schemes *********************/
.main-schemes {
  height: 350vh;
  /* background-color: #75e68e; */
  /* background-color: #ffffff; */
  background-color: rgb(210, 255, 206);
}

.scheme-content {
  height: 100vh;
  padding: 40px;
}
.card-deck{
  width: 70%;
  height: 50%;
  margin:auto;
  margin-bottom: 480px;
  display: flex;
  justify-content: space-evenly;

}

.card {
  float: left; /*not  a good way fixed it */
  width: 500px;
  margin: 30px;
  border: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  background-color: rgb(188, 255, 188);
}
.Card.Text {
  font-size: 2.3em;
}
.card-link {
  color: green;
  font-size: 1.3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

/********************Schemes end *******************/

/********************Footer *******************/
.main-footer,
.footer-bottom {
  background-color: darkgreen;
  color: white;
  text-align: centre;
  padding: 5px;
}
.copyright {
  font-style: italic;
}
/********************Footer end *******************/
.main-crop-pattern,
.main-news {
  height: 61.5vh;
  /* background-color: #75e68e; */
}
